argparse==1.2.1
enum34==1.0.4
httmock==1.2.3
lxml==3.4.3
nose==1.3.7
requests==2.7.0
-e git://github.com/pmpfl/tgbotplug.git@05559445df4e55e7958ae07d2357d419efdb6638#egg=tgbotplug-origin/mymaster
twx.botapi==1.0.2
wsgiref==0.1.2
